<h3 class="text-center">
  Create your account!
  <small class="text-muted">you wont regret it</small>
</h3>
<div class="alert alert-danger" *ngIf="error">
  <p>
    {{ error }}
  </p>
</div>
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" ngModel email required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" minlength="6" placeholder="Password" ngModel required>
  </div>

  <button type="submit"  class="btn btn-primary">Submit</button>
</form>

<p class="text-center">Already have an account?</p>
 <p class="text-center"> <a href="/login">Login</a> </p>

