<h2 class="text-center">Ready to get started?</h2>
<form class="container-fluid bg-3" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id="fname" ngModel name="fname" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="lname" class="form-control" id="lname" ngModel name="lname" required>
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ngModel name="email">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="phone" class="form-control" id="phone" ngModel name="phone" required>
  </div>
  <div class="form-group">
    <label for="grade">Grade:</label>
    <input type="grade" class="form-control" id="grade" ngModel name="grade">
  </div>
  <div class="form-group">
    <label for="school">High School</label>
    <input type="school" class="form-control" id="school" ngModel name="school">
  </div>
  <div class="form-group">
    <label for="coach">Coach:</label>
    <input type="coach" class="form-control" id="coach" ngModel name="phone">
  </div>


  <div class="form-group">
    <label for="exp">Years of Playing Experiance:</label>
    <select class="form-control" id="exp">
      <option>None</option>
      <option>Less than 1</option>
      <option>1-3</option>
      <option>3+</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
</form>
