<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Workout</th>
      <th scope="col">Pitch</th>
      <th scope="col">Reps</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workout of workouts; let i = index">
      <th scope="row">{{ Date }}</th>
      <td>{{ workout.workout }}</td>
      <td>{{ workout.Set }}</td>
      <td (click)="onDelete(i)">X</td>
    </tr>
</tbody>
</table>

<div>
  <input type="text" [(ngModel)]="workout" placeholder="Pitch"  />
  <input type="text" [(ngModel)]="set" placeholder="Reps"/>
  <button (click)="onAddWorkout()">Add Pitch</button>

  <hr/>


<p> Rest Timer: {{ timeLeft }} <button class="btn btn-secondary" (click)="startRest()">Start Timer </button> </p>

<div class="container-fluid">
  <label for ="range">Difficulty of Workout: {{ value }} </label>
<input type="range" min="Easy" max="Hard" value="Medium" class="slider" id="myRange" (click)="slider()">

<button (click)="onSubmitWorkout()" class="btn btn-btn">Log Workout</button>
<button (click)="onFetchWorkout()" >Fetch Workout</button>

<h2>Workout Log</h2>
<ul *ngIf= "workouts.length >= 1 && !isFetching">
  <li *ngFor="let workout of workouts">
    <h3> {{ workout.workout }} </h3>
    <p>  {{ workout.Set }} </p>
  </li>
  <button (click)="onClearLog()">Reset Log</button>
</ul>
</div>
</div>
