<!-- First Container
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">The Strikeout Queen</h3>
  <img class="Images" src="assets/Images/homepic.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="CheyAnne" width="350" height="350">
  <h3> </h3>
</div>
-->
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
   <h2 class="margin">CheyAnne Ludovissie</h2>

  <div class="column">
    <div class="card">
      <img src="assets/Images/Cheyannepic2.jpeg" alt="Cheyanne"class="img-responsive img-circle margin" style="display:inline" alt="CheyAnne" width="350" height="350" >
      <div class="container-fluid bg-5 text center">
        <p class="title"><u>Pitching Instructor</u></p>
        <p>I love training because I have the opportunity to work one on one with a player to develop not only physically but also mentally. I enjoy working with players to figure out works best for them, help them learn awareness of their body and movements, become mechanically sound and most importantly teach them the importance of mental strength on and off the field.</p> <p>Perseverance is one of the most important qualities an a th lets can have because it moves with them throughout any stage of life. Coaching, for me, is not just about how talent it's about learning how sports can teach you so many valuable lessons and make you a better human being.</p>
        <p>cludovissie@gmail.com</p>
        <hr>

        <h3 class="margin">Stats</h3>
        <div class="row">
          <div class="col-sm-4 border-right" >
            <p><u>High School</u></p>
            <ul style="list-style-type:none; width: 100%; text-align: left;">
              <li>3rd region player of the year</li>
              <li>Top strikeout leaders in Kentucky</li>
              <li>Butler County Highschool Hall of Fame </li>
              <li>All-tournament team</li>
              <li>Super Smart</li>
            </ul>
          </div>
          <div class="col-sm-4 border-right" >
            <p><u>Murray State</u></p>
            <ul style="list-style-type:none; width: 100%; text-align: left;" >
              <li>57 wins</li>
              <li>11 saves</li>
              <li>ERA 2.77</li>
              <li>Strike Outs-490</li>
              <li>Shut Outs-10</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <p><u>Coaching</u></p>
            <ul style="list-style-type:none; width: 100%; text-align: left;">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>









<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h2>Quote of the Day!</h2>
  <p *ngIf="quote"> {{ quote.text }} </p> <p><em>  {{ quote.author }}  </em></p>
        </div>
  <h3 class="margin">Pitching Lessons</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Individual</p>
      <img src="assets/Images/cheyanne3.jpeg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Online Instruction</p>
      <img src="assets/Images/grouppic.jpeg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Group Instruction</p>
      <img src="assets/Images/group1.jpeg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

